@model IEnumerable<VidlyApp.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}

<h2>Movies</h2>

<a href="@Url.Action("New", "Movies")" class="btn btn-primary">Add movie</a>

@if (!Model.Any())
{
    <p>No movies in the list</p>
}
else
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@Html.ActionLink(movie.Name, "Details", new { id = movie.Id })</td>
                    <td>@movie.Gendre.Name</td>
                </tr>
            }

        </tbody>
    </table>
}
