@model IEnumerable<VidlyApp.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}

<h2>Customers</h2>

<a href="@Url.Action("New","Customers")" class="btn btn-primary">Add Customer</a>
@if (!Model.Any())
{
    <p>No customers in the list</p>
}
else
{
    <table class="table table-striped table-hover table-bordered ">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Membership Type</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@Html.ActionLink(customer.Name, "Edit", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }


        </tbody>
    </table>
}
